# 1. Write a Python program to find sum of elements in list?

In [27]:
l = [1,2,3,4,5,6,7]
sum = 0
for i in l:
  sum = sum + i
  i+=1
print("Sum of elements in the list:",sum)

Sum of elements in the list: 28

# 2. Write a Python program to Multiply all numbers in the list?

In [3]:
l = [1,2,3,4,5,6,7]
mul = 1
for i in l:
  mul = mul * i
  i+=1
print("Multiplication of all numbers in the list:",mul)

Multiplication of all numbers in the list: 5040

# 3. Write a Python program to find smallest number in a list?

In [8]:
l = [2,5,1,4,6,3,7]
l.sort()
print("Smallest number in the list:",l[0])

Smallest number in the list: 1

# 4. Write a Python program to find largest number in a list?

In [10]:
l = [2,5,1,4,6,3,7]
l.sort()
print("Largest number in the list:",l[len(l)-1])

Largest number in the list: 7

# 5. Write a Python program to find second largest number in a list?

In [12]:
l = [2,5,1,4,6,3,7]
l.sort()
print("Second largest number in the list:",l[1])

Second largest number in the list: 2

# 6. Write a Python program to find N largest elements from a list?

In [16]:
l = [1,2,3,4,5,6,7]
N = int(input("Enter N Value:"))
l.sort()
print("N Largest Elements in the list", l[-N:])

Enter N Value:7
N Largest Elements in the list [1, 2, 3, 4, 5, 6, 7]

# 7. Write a Python program to print even numbers in a list?

In [17]:
l = [1,2,3,4,5,6,7]
l_even = []
for i in l:
  if i%2 == 0:
    l_even.append(i)
print("Even numbers in the list",l_even)

Even numbers in the list [2, 4, 6]

# 8. Write a Python program to print odd numbers in a List?

In [18]:
l = [1,2,3,4,5,6,7]
l_odd = []
for i in l:
  if i%2 != 0:
    l_odd.append(i)
print("Odd numbers in the list",l_odd)

Odd numbers in the list [1, 3, 5, 7]

# 9. Write a Python program to Remove empty List from List?

In [20]:
l = [1,2,3,4,5,8,[],5,9,"pavan"]
for i in l:
  if i == []:
    l.pop(l.index(i))
print("List after removing the empty list",l)

List after removing the empty list [1, 2, 3, 4, 5, 8, 5, 9, 'pavan']

# 10. Write a Python program to Cloning or Copying a list?

In [22]:
l = ["pavan",2,4,5,6,9.3,"kumar"]
l_copy= []
l_copy.extend(l)
print("After cloning the l to l_copy",l_copy)

After cloning the l to l_copy ['pavan', 2, 4, 5, 6, 9.3, 'kumar']

# 11. Write a Python program to Count occurrences of an element in a list?

In [23]:
def countp(lst, x):
    count = 0
    for ele in lst:
        if (ele == x):
            count = count + 1
    return count

In [24]:
lst = [1,2,2,2,4,5,8,8,8,8,6,4,6,9,8,9,4,5]
x = 5
print("{} has occured {} times ".format(x,countp(lst,x)))

5 has occured 2 times